body {
  min-height: 100%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  background-color: navy;
  color: white;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

.Links {
  background-color: rgb(101, 101, 173);
  padding: 4em;
}

.Main-Title {
  height: fit-content;
}
